/* .container {
   
  
  } */

.lista-productos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
  }
  
  .tarjeta-producto {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.33% - 10px);
    text-align: center;
  }
  
  .imagen-producto {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20%;
    margin: 100 auto 10px;
  }
  
  