/* DESARROLO JOAN */

/* nav {
  width: 100%;
  position: relative;
  z-index: 50;
}

nav .container {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;
} */

/* .h2-title {
  color: rgb(72, 255, 0);
} */

/* body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}  */

#root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --main-color: #8c15ff;
  --secondary-color: #47008b;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
  text-align: center;
  width: 100%;
}

main {
  display: grid;
  grid-template-areas:
    "head head head"
    "side content content"
    "content content content"
    "foot foot foot";
  grid-template-rows: auto auto auto auto;

  width: 100%;
}

header {
  grid-area: head;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(218, 219, 223);

  z-index: 5;
}

article {
  grid-area: content;
  justify-content: space-between;
}

aside {
  grid-area: side;
}

footer {
  grid-area: foot;
}

.container {
  position: relative;
  z-index: 5;
  max-width: 92rem;
  padding: 0 4rem;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderbtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
