

.button {
  width: 180px;
  height: 50px;
  background-image: linear-gradient(rgb(233, 22, 22), rgb(255, 65, 65));
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(146, 157, 187);
  transition-duration: .3s;
  
}

.cartIcon {
  width: 30px;
  height: fit-content;
}

.cartIcon path {
  fill: white;
}

.button:active {
  transform: translate(2px ,0px);
  box-shadow: 0px 1px 0px rgb(146, 157, 187);
  padding-bottom: 1px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
}